.row.col-lg-12.amenitiesdetails(style='-webkit-box-shadow: 1px 1px 5px #888888;-moz-box-shadow: 1px 1px 5px #888888;-o-box-shadow: 1px 1px 5px #888888;box-shadow: 1px 1px 5px #888888;')
    .col-md-12.form-group(style='')
        .col-lg-6.col-md-6
            h4 Amenities
        .col-lg-6.col-md-6(style='text-align:right;')
            button#btnEditAmenitiesDetails.btn.btn-default.btn-sm.active(type='button', style='margin-top:5px;')
                i.fa.fa-pencil.text-red
    .col-lg-12.col-xs-12.col-md-8(style='margin-top:10px;')
        .col-lg-4.col-xs-12.col-md-6
            .col-md-12.form-group(style='text-align:left;')
                input#Checkdbox1(type='checkbox')
                label(for='Checkbox1') Ambient
            .col-md-12.form-group(style='text-align:left;')
                input#Checkbdox1q(type='checkbox')
                label(for='Checkbox1') Integrated with FS
            .col-md-12.form-group(style='text-align:left;')
                input#Checkbdox1q(type='checkbox')
                label(for='Checkbox1') Sprinklered
            .col-md-12.form-group(style='text-align:left;')
                input#Checkdbox1q(type='checkbox')
                label(for='Checkbox1') Professional Staff & Equipment
            .col-md-12.form-group(style='text-align:left;')
                input#Checkbdox1q(type='checkbox')
                label(for='Checkbox1') Security System
            .col-md-12.form-group(style='text-align:left;')
                input#Checkbdox1q(type='checkbox')
                label(for='Checkbox1') Dock High Doors
            .col-md-12.form-group(style='text-align:left;')
                input#Checkbdox1q(type='checkbox')
                label(for='Checkbox1') Food Grade
        .col-lg-4.col-xs-12.col-md-6(style='')
            .col-md-12.form-group(style='text-align:left;')
                input#Checkbdox1q(type='checkbox')
                label(for='Checkbox1') Organic
            .col-md-12.form-group(style='text-align:left;')
                input#Checkbdox1q(type='checkbox')
                label(for='Checkbox1') Frozen
            .col-md-12.form-group(style='text-align:left;')
                input#Checkbdox1q(type='checkbox')
                label(for='Checkbox1') AIB Certified
            .col-md-12.form-group(style='text-align:left;')
                input#Checkbdox1q(type='checkbox')
                label(for='Checkbox1') Bonded
            .col-md-12.form-group(style='text-align:left;')
                input#Checkbdox1q(type='checkbox')
                label(for='Checkbox1') HAZMAT
        .col-lg-4.col-xs-12.col-md-6(style='')
            .col-md-12.form-group(style='text-align:left;')
                h5 Notes
                textarea#txtNotes.text(rows='15', cols='20', style='height:100px;')