.row.col-lg-12.rackdetails(style='-webkit-box-shadow: 1px 1px 5px #888888;-moz-box-shadow: 1px 1px 5px #888888;-o-box-shadow: 1px 1px 5px #888888;box-shadow: 1px 1px 5px #888888;')
    .col-md-12.form-group(style='')
        .col-lg-6.col-md-6
            h4 Racking & Pricing
        .col-lg-6.col-md-6(style='text-align:right;')
            button#btnEditRackingDetails.btn.btn-default.btn-sm.active(type='button', style='margin-top:5px;')
                i.fa.fa-pencil.text-red
    .col-lg-8.col-xs-12.col-md-8(style='margin-top:10px;')
        .col-lg-6.col-xs-12.col-md-6
            .col-md-6.form-group(style='text-align:left;')
                h5 Racking :
            .col-md-6.form-group(style='text-align:left;')
                h5 Racking A
            .col-md-6.form-group(style='text-align:left;')
                h5 Racking Position:
            .col-md-6.form-group(style='text-align:left;')
                h5 Racking Position A
            .col-md-6.form-group(style='text-align:left;')
                h5 Maximum Height :
            .col-md-6.form-group(style='text-align:left;')
                h5 Maximum Height A
            .col-md-6.form-group(style='text-align:left;')
                h5 Maximum rack weight :
            .col-md-6.form-group(style='text-align:left;')
                h5 Maximum rack weight A
        .col-lg-6.col-xs-12.col-md-6
            .col-md-6.form-group(style='text-align:left;')
                h5 Fee Currency :
            .col-md-6.form-group(style='text-align:left;')
                h5 AED
            .col-md-6.form-group(style='text-align:left;')
                h5 Rack Cost :
            .col-md-6.form-group(style='text-align:left;')
                h5 2 AED
            .col-md-6.form-group(style='text-align:left;')
                h5 Handling Fee :
            .col-md-6.form-group(style='text-align:left;')
                h5 0.5 AED
    .col-lg-4.col-xs-12.col-md-4(style='margin-top:10px;')
        .col-md-12.nopadding(style='margin-bottom:5px;')
            img.col-md-4(src='/images/WHdummy4.jpg', alt='')
            img.col-md-4(src='/images/WHdummy5.jpg', alt='')
            img.col-md-4(src='/images/WHdummy6.jpg', alt='')
        img.col-md-4(src='/images/WHdummy7.jpg', alt='')
        img.col-md-4(src='/images/WHdummy8.jpg', alt='')
        img.col-md-4(src='/images/WHdummy9.jpg', alt='')