#RackingDetailsPop.simplePopup.col-lg-6.col-sm-6.col-md-6.col-xs-11
    #divStep2.col-md-12(style='min-height:450px;')
        .col-md-12.form-group(style='text-align:left;')
            h5 Racking Position
            input#txtRackingPosition.text(type='text', style='margin-bottom:5px;')
        .col-md-12.form-group(style='text-align:left;')
            h5 Max Height
            input#txtMaxHeight.text(type='text', style='margin-bottom:5px;')
        .col-md-12.form-group(style='text-align:left;')
            h5 Max rack weight
            input#txtMaxWeight.text(type='text', style='margin-bottom:5px;')
        .col-md-12.form-group(style='text-align:left;')
            h5(style='clear: left;') Fee Currency
            select#ddlFeeCurrency.text(style='width:100%;margin-bottom:5px;')
                option(value='INR') Indian Rupee
                option(value='AED') UAE Dirhams
        .col-md-12.form-group(style='text-align:left;')
            h5 Rack Cost
            input#txtRackCost.text(type='text', style='margin-bottom:5px;')
        .col-md-12.form-group(style='text-align:left;')
            h5(style='clear: left;') Handling Fee
            input#txtHandlingFee.text(type='text', style='margin-bottom:5px;')
    .col-lg-12.col-md-12.col-sm-12.col-xs-12(style='bottom:0px;')
        .col-md-12.col-lg-12.col-sm-12.col-xs-12.form-group(style='text-align:right;margin-top:15px;')
            input#btnUpdateRackingDetails.btn.btn-primary.btn-flat.btn-block(type='button', value='Update', style='width:150px;float:right')