.row.col-lg-12.generaldetails(style='-webkit-box-shadow: 1px 1px 5px #888888;-moz-box-shadow: 1px 1px 5px #888888;-o-box-shadow: 1px 1px 5px #888888;box-shadow: 1px 1px 5px #888888;')
    .col-md-12.form-group(style='')
        .col-lg-6.col-md-6
            h4 General Details
        .col-lg-6.col-md-6(style='text-align:right;')
            button#btnEditGeneralDetails.btn.btn-default.btn-sm.active(type='button', style='margin-top:5px;')
                i.fa.fa-pencil.text-red
    .col-lg-8.col-xs-12.col-md-8
        .col-lg-12.col-xs-12.col-md-12
            .col-md-4.form-group(style='text-align:left;')
                Warehouse Name :
            .col-md-8.form-group(style='text-align:left;')
                h5 Warehouse A
        .col-lg-12.col-xs-12.col-md-12
            .col-md-4.form-group(style='text-align:left;')
                h5 Address :
            .col-md-8.form-group(style='text-align:left;')
                h5 Address A
        .col-lg-12.col-xs-12.col-md-12
            .col-md-4.form-group(style='text-align:left;')
                h5 Warehouse Space :
            .col-md-8.form-group(style='text-align:left;')
                h5 Space A
        .col-lg-12.col-xs-12.col-md-12
            .col-md-4.form-group(style='text-align:left;')
                h5 Contact :
            .col-md-8.form-group(style='text-align:left;')
                h5 Contact A
        .col-lg-12.col-xs-12.col-md-12
            .col-md-4.form-group(style='text-align:left;')
                h5 Email :
            .col-md-8.form-group(style='text-align:left;')
                h5 Email A
    .col-lg-4.col-xs-12.col-md-4.nopadding
        div(style='padding-bottom:7px;')
            // /.box-header
            #carousel-example-generic.carousel.slide(data-ride='carousel', style='margin-top:5px;')
                ol.carousel-indicators
                    li.active(data-target='#carousel-example-generic', data-slide-to='0')
                    li(data-target='#carousel-example-generic', data-slide-to='1')
                    li(data-target='#carousel-example-generic', data-slide-to='2')
                .carousel-inner
                    .item.active
                        img(src='/images/WHdummy.jpg', alt='First slide')
                    .item
                        img(src='/images/WHdummy2.jpg', alt='Second slide')
                    .item
                        img(src='/images/WHdummy3.jpg', alt='Third slide')
                a.left.carousel-control(href='#carousel-example-generic', data-slide='prev')
                    span.fa.fa-angle-left
                a.right.carousel-control(href='#carousel-example-generic', data-slide='next')
                    span.fa.fa-angle-right