section.col-lg-4.col-md-6.col-xs-10.col-sm-6.connectedSortable
    // Custom tabs (Charts with tabs)
    .nav-tabs-custom
        ul.nav.nav-tabs.pull-right.col-md-12.col-lg-12
            li.pull-left.header
                i.fa.fa-inbox
                |  Warehouse
        #warehousewidget.tab-content.no-padding.col-md-12.col-lg-12
            // Morris chart - Sales
            #Warehouse-chart.chart.tab-pane.active.col-md-12.col-lg-12(style='position: relative; height: 300px;')
        // /.nav-tabs-custom
section#StockSummarywidget.col-lg-4.col-md-6.col-xs-10.col-sm-6.connectedSortable
    // Custom tabs (Charts with tabs)
    .nav-tabs-custom
        ul.nav.nav-tabs.pull-right
            li.pull-left.header
                i.fa.fa-inbox
                |  Stock Summary
        .tab-content.no-padding
            // Morris chart - Sales
            #Stock-sumary-chart.chart.tab-pane.active(style='position: relative; height: 300px;')
    // /.nav-tabs-custom
section#StockMovementwidget.col-lg-4.col-md-6.col-xs-10.col-sm-6.connectedSortable
    // Custom tabs (Charts with tabs)
    .nav-tabs-custom
        ul.nav.nav-tabs.pull-right
            li.pull-left.header
                i.fa.fa-inbox
                |  Stock Movement
        .tab-content.no-padding
            // Morris chart - Sales
            #Stock-movement-chart.chart.tab-pane.active(style='position: relative; height: 300px;')
    // /.nav-tabs-custom
section#WarehouseOccupancewidget.col-lg-4.col-md-6.col-xs-10.col-sm-6.connectedSortable
    // Custom tabs (Charts with tabs)
    .nav-tabs-custom
        ul.nav.nav-tabs.pull-right
            li.pull-left.header
                i.fa.fa-inbox
                |  Warehouse Occupance
        .tab-content.no-padding
            // Morris chart - Sales
            #Warehouse-occupancy-chart.chart.tab-pane.active(style='position: relative; height:300px;')
    // /.nav-tabs-custom
section#Calendarwidget.col-lg-6.col-md-6.col-xs-10.col-sm-6.connectedSortable(style='background-color:#fff;')
    #calendar