extends menu
block content
    title WH Portal | Manage Enquiry
    // Datatable
    link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
    link(href='https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css', rel='stylesheet')
    link(href='/stylesheets/AdminLTE.min.css', rel='stylesheet')
    .wrapper
        // Content Wrapper. Contains page content
        .content-wrapper
            // Content Header (Page header)
            section.content-header
                h1
                    | Manage Enquiry
            // Main content
            section.content
                .row
                    include enquiry/enquirydetailsskulist.pug
                    include enquiry/enquirydetailscharges.pug
    include enquiry/enquirydetailsquotationpopup.pug        
    // Datatable
    script(src='https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js')
    script(src='https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js')
    script.
      //Datatable
      $(document).ready(function () {
      $("#lnkEdit").addClass('disabled');
      $('#example').DataTable();
      //Select table row on click
      $("#example tr").click(function (e) {
      var selected = $(this).hasClass("highlight");
      $("#example tr").removeClass("highlight");
      if (!selected)
      $(this).addClass("highlight");
      //Store selected row
      SelectedRow = $(this);
      $("#lnkEdit").removeClass('disabled');
      });
      $("#example tr").hover(function () {
      $(this).css('cursor', 'pointer');
      }, function () {
      $(this).css('cursor', 'auto');
      });
      $("#lnkEdit").click(function (e) {
      window.location.href = "Add_Warehouse.html?isedit=true";
      });
      $("#btnQuotation").click(function (e) {
      $('#Quotationpopup').modal('show');
      });
      $("#btnExprotPDF").click(function (e) {
      var printContents = document.getElementById('QuotationBody').innerHTML;
      var originalContents = document.body.innerHTML;
      document.body.innerHTML = printContents;
      window.print();
      document.body.innerHTML = originalContents;
      });
      $("#btnSendMail").click(function (e) {
      $('#Quotationpopup').modal('hide');
      $('#Alertpopup').modal('show');
      });
      jQuery('#btnAddRow').click(function (event) {
      event.preventDefault();
      var newRow = jQuery('<tr><td><input id="txtCharge" type="text" class="grid-textbox" /></td><td><input id="txtNarration" type="text" class="grid-textbox" /></td><td><input id="txtUnitPrice" type="text" class="grid-textbox" /></td><td><input id="txtRate" type="text" class="grid-textbox" /></td></tr>');
      jQuery('#tblCharges').append(newRow);
      });
      $("#btnSubmit").click(function (e) {
      $('#Quotationpopup').modal('show');
      });
      });
