extends menu
block content
    title WH Portal | Job Management
    // Datatable
    link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
    link(href='https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css', rel='stylesheet')
    link(href='/stylesheets/AdminLTE.min.css', rel='stylesheet')
    .wrapper
        // Content Wrapper. Contains page content
        .content-wrapper
            // Content Header (Page header)
            section.content-header
                h1
                    | Job Management
            // Main content
            section.content
                .row
                    .col-lg-12.col-xs-12.col-md-12
                        table#example.table.table-striped.table-bordered(cellspacing='0', width='100%')
                            thead
                                tr
                                    th Enquiry No
                                    th Total Pallets
                                    th Expected Days
                                    th Total CBM
                                    th Status
                            tbody
                                tr
                                    td E10001
                                    td 150
                                    td 30
                                    td 15000
                                    td New
                                tr
                                    td E10002
                                    td 140
                                    td 60
                                    td 10000
                                    td Cancelled
                                tr
                                    td E10003
                                    td 100
                                    td 50
                                    td 25000
                                    td Expired
                                tr
                                    td E10004
                                    td 1500
                                    td 10
                                    td 50000
                                    td Expired
                                tr
                                    td E10005
                                    td 150
                                    td 30
                                    td 15000
                                    td Cancelled
                                tr
                                    td E10001
                                    td 150
                                    td 30
                                    td 15000
                                    td New
    // /.content
    // Datatable
    script(src='https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js')
    script(src='https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js')
    script.
        $(document).ready(function () {
            $('#example').DataTable();
            $("#example tr").click(function (e) {
                var selected = $(this).hasClass("highlight");
                $("#example tr").removeClass("highlight");
                if (!selected)
                    $(this).addClass("highlight");
                //Store selected row
                SelectedRow = $(this);
                window.open('/enquirydetails', 'mywindow').focus();
                //window.location.href = "EnquiryDetails.html";
            });
            $("#example tr").hover(function () {
                $(this).css('cursor', 'pointer');
            }, function () {
                $(this).css('cursor', 'auto');
            });
            $("#lnkEdit").click(function (e) {
                window.location.href = "/";
            });
        });
