extends menu
block content
    title WH Portal | Warehouse List
    // Datatable
    link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
    link(href='https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css', rel='stylesheet')
    link(href='/stylesheets/AdminLTE.min.css', rel='stylesheet')
    .wrapper
        // Content Wrapper. Contains page content
        .content-wrapper
            // Content Header (Page header)
            section.content-header
                h1
                    | Warehouse List
                ol.breadcrumb
                    li#lnkAdd(style='cursor:pointer;')
                        i.glyphicon.glyphicon-plus
                        |  Add Warehouse
                    // <li id="lnkEdit" style="cursor:pointer;"><i class="glyphicon glyphicon-pencil"></i> Edit Warehouse</li>
            // Main content
            include warehouse/list.pug
        // Popup
        include warehouse/popup.pug
            
    // Datatable
    script(src='https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js')
    script(src='https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js')
    // Datatable
    script(src='/javascripts/jquery.simplePopup.js')
    script(src='/javascripts/warehouselist.js')
      
