section#listview.content(style='display:none;')
    #divSearchDetailsTable.row
        .col-lg-12.col-xs-12.col-md-12
            .col-md-12
                table#example.table.table-striped.table-bordered(cellspacing='0', width='100%')
                    thead
                        tr
                            th Storer
                            th SKU ID
                            th Description
                            th Batch
                            th LPN
                            th LOC
                            th Expiry Date
                            th Manufacturing Date
                            th Quantity
                            th Qty Allocated
                            th Qty Picked
                            th Qty On Hold
                            th Available Qty
                    tbody
                        tr
                            td Storer A
                            td SKU10001
                            td Details
                            td 1001
                            td LPN A
                            td LOC A
                            td 25/12/2017
                            td 01/02/2017
                            td 150
                            td 50
                            td 10
                            td 90
                            td 20
                        tr
                            td Storer B
                            td SKU10002
                            td Details
                            td 1001
                            td LPN B
                            td LOC B
                            td 25/12/2017
                            td 01/02/2017
                            td 150
                            td 50
                            td 10
                            td 90
                            td 20
                        tr
                            td Storer C
                            td SKU10003
                            td Details
                            td 1001
                            td LPN C
                            td LOC C
                            td 25/12/2017
                            td 01/02/2017
                            td 150
                            td 50
                            td 10
                            td 90
                            td 20