section#formview.content
    .row
        .col-lg-12.col-xs-12.col-md-12
            .col-md-12
                .col-md-4.form-group.required(style='text-align:left;')
                    h5 First name
                    input#txtWHName.text(type='text')
                .col-md-4.form-group(style='text-align:left;')
                    h5 Last name
                    input#txtWHName.text(type='text')
            .col-md-12
                .col-md-4.form-group(style='text-align:left;')
                    h5 Address
                    textarea#txtWHAddress.text(rows='5', cols='20')
                .col-md-4.form-group.required(style='text-align:left;')
                    h5 DOB
                    input#txtDOB.text(type='date')
            .col-md-12
                .col-md-4.form-group.required(style='text-align:left;')
                    h5 User name
                    input#txtWHName.text(type='email')
                .col-md-4.form-group.required(style='text-align:left;')
                    h5 Password
                    input#txtWHName.text(type='password')
            .col-md-12
                .col-md-4.form-group(style='text-align:left;')
                    h5 Email
                    input#txtWHName.text(type='email')
                .col-md-4.form-group(style='text-align:left;')
                    h5 Designation
                    input#txtWHName.text(type='email')
            .col-md-12.form-group(style='text-align:left;margin-top:15px;')
                .col-md-4.form-group(style='text-align:left;')
                    input#btnSubmit.btn.btn-primary.btn-flat.btn-block(type='submit', value='Submit', style='width:150px;')