.col-lg-12.col-xs-12.col-md-12
    table#example.table.table-striped.table-bordered(cellspacing='0', width='100%')
        thead
            tr
                th User ID
                th Username
                th Designation
                th Email
        tbody
            tr
                td USR101
                td User A
                td Salesman
                td abc@gmail.com
            tr
                td USR102
                td User B
                td Accounts Staff
                td abdddc@gmail.com
            tr
                td USR103
                td User C
                td Billing
                td billing@gmail.com