﻿ .header {
            height: 80px;
            /*background-color: #ffcc00;*/
        }

        .body {
            min-height: 600px;
            width: 100%;
            text-align: center;
            
        }
        .nopadding
        {
            padding:0 !important;
        }
        table{
            -webkit-box-shadow: 1px 1px 5px #888888;
            -moz-box-shadow: 1px 1px 5px #888888;
            -o-box-shadow: 1px 1px 5px #888888;
            box-shadow: 1px 1px 5px #888888;
        }
        th{
            background-color:#e3e3e3;
            -webkit-box-shadow: 1px 1px 5px #888888;
            -moz-box-shadow: 1px 1px 5px #888888;
            -o-box-shadow: 1px 1px 5px #888888;
            box-shadow: 1px 1px 5px #888888;
        }
        table tr:nth-child(odd) {
            
        }
        tr:nth-child(even) {
            background-color: #ececec;
        }
        .signup {
            
            display: inline-block;
            
            margin-top: 10px;
            margin-left:40px;
        }
        .highlight {
            background-color: #eaf3fb !important;
        }

        .disabled {
            pointer-events: none;
            opacity: 0.4;
        }
        .form-group {
            margin-bottom: 5px;
        }

        h1 {
            font-weight: 600;
        }

        .text {
            border-radius: 0;
            box-shadow: none;
            border-color: #d2d6de;
            width: 100%;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        }

        .form-group.required::after {
            content: "*";
            color: #767D7F;
            font-weight: 700;
            font-size: 24px;
            position: absolute;
            bottom: 10px;
            right: -10px;
        }

        .btn {
            display: inline-block;
            padding: 6px 12px;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 4px;
        }

            .btn.btn-flat {
                border-radius: 0;
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
                border-width: 1px;
            }

        .btn-primary {
            background-color: #3c8dbc;
            border-color: #367fa9;
        }

        .btn-block {
            display: block;
            width: 100%;
        }
        .highlight { background-color: #eaf3fb !important; }
        .disabled{
             pointer-events:none;
            opacity:0.4;
        }


       /*Popup*/
        .simplePopup {
        display:none;
        position:fixed;
        border:4px solid #808080;
        background:#fff;
        z-index:999;
        padding:12px;
        
        top:60px !important;
        }

        .simplePopupClose {
        float:right;
        cursor:pointer;
        font-family:Arial;
        font-size:20px;
        font-weight:bold;
        color:#d0361e;
        margin-left:10px;
        margin-right:10px;
        margin-bottom:0px;
        }

        .simplePopupBackground {
        display:none;
        background:#000;
        position:fixed;
        height:100%;
        width:100%;
        top:0;
        left:0;
        z-index:999;
        }


        /*Customise modal popup*/
        .modal-dialog {
        }
        .modal-content  {
            -webkit-border-radius: 0px !important;
            -moz-border-radius: 0px !important;
            border-radius: 0px !important; 

            -webkit-box-shadow: 1px 1px 5px #888888;
            -moz-box-shadow: 1px 1px 5px #888888;
            -o-box-shadow: 1px 1px 5px #888888;
            box-shadow: 1px 1px 5px #888888;
        }

        /*Checkbox Styling*/

        input[type=checkbox]:not(old),
        input[type=radio   ]:not(old){
          width   : 28px;
          margin  : 0;
          padding : 0;
          opacity : 0;
          border-radius:0;
          cursor:pointer;
        }
        input[type=checkbox]:not(old) + label,
        input[type=radio   ]:not(old) + label{
          display      : inline-block;
          margin-left  : -28px;
          padding-left : 28px;
          background   : url('/images/checks.png') no-repeat 0 0;
          line-height  : 24px;
          cursor:pointer;
          
        }

        input[type=checkbox]:not(old):checked + label{
          background-position : 0 -24px;
        }

        input[type=radio]:not(old):checked + label{
          background-position : 0 -48px;
        }


        .multi-item-carousel{
  .carousel-inner{
    > .item{
      transition: 500ms ease-in-out left;
    }
    .active{
      &.left{
        left:-33%;
      }
      &.right{
        left:33%;
      }
    }
    .next{
      left: 33%;
    }
    .prev{
      left: -33%;
    }
    @media all and (transform-3d), (-webkit-transform-3d) {
      > .item{
        
        transition: 500ms ease-in-out left;
        transition: 500ms ease-in-out all;
        backface-visibility: visible;
        transform: none!important;
      }
    }
  }
  .carouse-control{
    &.left, &.right{
      background-image: none;
    }
  }
}