.row
    .col-md-3.col-sm-6.col-xs-12(style='-webkit-box-shadow: 1px 1px 5px #888888;-moz-box-shadow: 1px 1px 5px #888888;-o-box-shadow: 1px 1px 5px #888888;box-shadow: 1px 1px 5px #888888;margin-bottom:15px;')
        div(style='display:inline-block;')
            label(for='Checkbox1') Free
        div(style='display:inline-block;float:right;')
            input#Checkbox21(type='checkbox')
            label(for='Checkbox21') Select
        .info-box
            span.info-box-icon.bg-aqua
                i.fa.fa-envelope-o
            .info-box-content
                span.info-box-text Messages
                span.info-box-number 1,410
                            
    .col-md-3.col-sm-6.col-xs-12(style='-webkit-box-shadow: 1px 1px 5px #888888;-moz-box-shadow: 1px 1px 5px #888888;-o-box-shadow: 1px 1px 5px #888888;box-shadow: 1px 1px 5px #888888;margin-bottom:15px;')
        div(style='display:inline-block;')
            label(for='Checkbox1') Free
        div(style='display:inline-block;float:right;')
            input#Checkbox2(type='checkbox')
            label(for='Checkbox2') Select
        .info-box
            span.info-box-icon.bg-green
                i.fa.fa-flag-o
            .info-box-content
                span.info-box-text Bookmarks
                span.info-box-number 410
    .col-md-3.col-sm-6.col-xs-12(style='-webkit-box-shadow: 1px 1px 5px #888888;-moz-box-shadow: 1px 1px 5px #888888;-o-box-shadow: 1px 1px 5px #888888;box-shadow: 1px 1px 5px #888888;margin-bottom:15px;')
        div(style='display:inline-block;')
            label(for='Checkbox1') Free
        div(style='display:inline-block;float:right;')
            input#Checkbox3(type='checkbox')
            label(for='Checkbox3') Select
        .info-box
            span.info-box-icon.bg-yellow
                i.fa.fa-files-o
            .info-box-content
                span.info-box-text Uploads
                span.info-box-number 13,648
                            
    .col-md-3.col-sm-6.col-xs-12(style='-webkit-box-shadow: 1px 1px 5px #888888;-moz-box-shadow: 1px 1px 5px #888888;-o-box-shadow: 1px 1px 5px #888888;box-shadow: 1px 1px 5px #888888;margin-bottom:15px;')
        div(style='display:inline-block;')
            label(for='Checkbox1') Free
        div(style='display:inline-block;float:right;')
            input#Checkbox4(type='checkbox')
            label(for='Checkbox4') Select
        .info-box
            span.info-box-icon.bg-red
                i.fa.fa-star-o
            .info-box-content
                span.info-box-text Likes
                span.info-box-number 93,139
                        
    .col-md-3.col-sm-6.col-xs-12(style='-webkit-box-shadow: 1px 1px 5px #888888;-moz-box-shadow: 1px 1px 5px #888888;-o-box-shadow: 1px 1px 5px #888888;box-shadow: 1px 1px 5px #888888;margin-bottom:15px;')
        div(style='display:inline-block;')
            label(for='Checkbox1') Free
        div(style='display:inline-block;float:right;')
            input#Checkbox5(type='checkbox')
            label(for='Checkbox5') Select
        .info-box
            span.info-box-icon.bg-red
                i.fa.fa-star-o
            .info-box-content
                span.info-box-text Likes
                span.info-box-number 93,139
                            
    .col-md-3.col-sm-6.col-xs-12(style='-webkit-box-shadow: 1px 1px 5px #888888;-moz-box-shadow: 1px 1px 5px #888888;-o-box-shadow: 1px 1px 5px #888888;box-shadow: 1px 1px 5px #888888;margin-bottom:15px;')
        div(style='display:inline-block;')
            label(for='Checkbox1') Free
        div(style='display:inline-block;float:right;')
            input#Checkbox6(type='checkbox')
            label(for='Checkbox6') Select
        .info-box
            span.info-box-icon.bg-red
                i.fa.fa-star-o
            .info-box-content
                span.info-box-text Likes
                span.info-box-number 93,139
                            
    .col-md-3.col-sm-6.col-xs-12(style='-webkit-box-shadow: 1px 1px 5px #888888;-moz-box-shadow: 1px 1px 5px #888888;-o-box-shadow: 1px 1px 5px #888888;box-shadow: 1px 1px 5px #888888;margin-bottom:15px;')
        div(style='display:inline-block;')
            label(for='Checkbox1') Free
        div(style='display:inline-block;float:right;')
            input#Checkbox6(type='checkbox')
            label(for='Checkbox6') Select
        .info-box
            span.info-box-icon.bg-red
                i.fa.fa-star-o
            .info-box-content
                span.info-box-text Likes
                span.info-box-number 93,139
                         
    .col-md-3.col-sm-6.col-xs-12(style='-webkit-box-shadow: 1px 1px 5px #888888;-moz-box-shadow: 1px 1px 5px #888888;-o-box-shadow: 1px 1px 5px #888888;box-shadow: 1px 1px 5px #888888;margin-bottom:15px;')
        div(style='display:inline-block;')
            label(for='Checkbox1') Free
        div(style='display:inline-block;float:right;')
            input#Checkbox6(type='checkbox')
            label(for='Checkbox6') Select
        .info-box
            span.info-box-icon.bg-red
                i.fa.fa-star-o
            .info-box-content
                span.info-box-text Likes
                span.info-box-number 93,139
                            
// ===========================================================
.row
    .col-md-3.col-sm-6.col-xs-12(style='-webkit-box-shadow: 1px 1px 5px #888888;-moz-box-shadow: 1px 1px 5px #888888;-o-box-shadow: 1px 1px 5px #888888;box-shadow: 1px 1px 5px #888888;margin-bottom:15px;')
        div(style='display:inline-block;')
            label(for='Checkbox1') Free
        div(style='display:inline-block;float:right;')
            input#Checkbox7(type='checkbox')
            label(for='Checkbox7') Select
        .info-box.bg-aqua
            span.info-box-icon
                i.fa.fa-bookmark-o
            .info-box-content
                span.info-box-text Bookmarks
                span.info-box-number 41,410
            .progress
                .progress-bar(style='width: 70%')
                    span.progress-description
                        | 70% Increase in 30 Days
                            
    .col-md-3.col-sm-6.col-xs-12(style='-webkit-box-shadow: 1px 1px 5px #888888;-moz-box-shadow: 1px 1px 5px #888888;-o-box-shadow: 1px 1px 5px #888888;box-shadow: 1px 1px 5px #888888;margin-bottom:15px;')
        div(style='display:inline-block;')
            label(for='Checkbox1') Free
        div(style='display:inline-block;float:right;')
            input#Checkbox8(type='checkbox')
            label(for='Checkbox8') Select
        .info-box.bg-green
            span.info-box-icon
                i.fa.fa-thumbs-o-up
            .info-box-content
                span.info-box-text Likes
                span.info-box-number 41,410
            .progress
                .progress-bar(style='width: 70%')
                    span.progress-description
                        | 70% Increase in 30 Days
                            
    .col-md-3.col-sm-6.col-xs-12(style='-webkit-box-shadow: 1px 1px 5px #888888;-moz-box-shadow: 1px 1px 5px #888888;-o-box-shadow: 1px 1px 5px #888888;box-shadow: 1px 1px 5px #888888;margin-bottom:15px;')
        div(style='display:inline-block;')
            label(for='Checkbox1') Free
        div(style='display:inline-block;float:right;')
            input#Checkbox9(type='checkbox')
            label(for='Checkbox9') Select
        .info-box.bg-yellow
            span.info-box-icon
                i.fa.fa-calendar
            .info-box-content
                span.info-box-text Events
                span.info-box-number 41,410
            .progress
                .progress-bar(style='width: 70%')
                    span.progress-description
                        | 70% Increase in 30 Days
                           
    .col-md-3.col-sm-6.col-xs-12(style='-webkit-box-shadow: 1px 1px 5px #888888;-moz-box-shadow: 1px 1px 5px #888888;-o-box-shadow: 1px 1px 5px #888888;box-shadow: 1px 1px 5px #888888;margin-bottom:15px;')
        div(style='display:inline-block;')
            label(for='Checkbox1') Free
        div(style='display:inline-block;float:right;')
            input#Checkbox10(type='checkbox')
            label(for='Checkbox10') Select
        .info-box.bg-red
            span.info-box-icon
                i.fa.fa-comments-o
            .info-box-content
                span.info-box-text Comments
                span.info-box-number 41,410
            .progress
                .progress-bar(style='width: 70%')
                    span.progress-description
                        | 70% Increase in 30 Days
                            
    .col-md-3.col-sm-6.col-xs-12(style='-webkit-box-shadow: 1px 1px 5px #888888;-moz-box-shadow: 1px 1px 5px #888888;-o-box-shadow: 1px 1px 5px #888888;box-shadow: 1px 1px 5px #888888;margin-bottom:15px;')
        div(style='display:inline-block;')
            label(for='Checkbox1') Free
        div(style='display:inline-block;float:right;')
            input#Checkbox11(type='checkbox')
            label(for='Checkbox11') Select
        .info-box.bg-red
            span.info-box-icon
                i.fa.fa-comments-o
            .info-box-content
                span.info-box-text Comments
                span.info-box-number 41,410
            .progress
                .progress-bar(style='width: 70%')
                    span.progress-description
                        | 70% Increase in 30 Days
                            
    .col-md-3.col-sm-6.col-xs-12(style='-webkit-box-shadow: 1px 1px 5px #888888;-moz-box-shadow: 1px 1px 5px #888888;-o-box-shadow: 1px 1px 5px #888888;box-shadow: 1px 1px 5px #888888;margin-bottom:15px;')
        div(style='display:inline-block;')
            label(for='Checkbox1') Free
        div(style='display:inline-block;float:right;')
            input#Checkbox12(type='checkbox')
            label(for='Checkbox12') Select
        .info-box.bg-red
            span.info-box-icon
                i.fa.fa-comments-o
            .info-box-content
                span.info-box-text Comments
                span.info-box-number 41,410
            .progress
                .progress-bar(style='width: 70%')
                    span.progress-description
                        | 70% Increase in 30 Days
                           
    .col-md-3.col-sm-6.col-xs-12(style='-webkit-box-shadow: 1px 1px 5px #888888;-moz-box-shadow: 1px 1px 5px #888888;-o-box-shadow: 1px 1px 5px #888888;box-shadow: 1px 1px 5px #888888;margin-bottom:15px;')
        div(style='display:inline-block;')
            label(for='Checkbox1') Free
        div(style='display:inline-block;float:right;')
            input#Checkbox12(type='checkbox')
            label(for='Checkbox12') Select
        .info-box.bg-red
            span.info-box-icon
                i.fa.fa-comments-o
            .info-box-content
                span.info-box-text Comments
                span.info-box-number 41,410
            .progress
                .progress-bar(style='width: 70%')
                    span.progress-description
                        | 70% Increase in 30 Days
                            
    .col-md-3.col-sm-6.col-xs-12(style='-webkit-box-shadow: 1px 1px 5px #888888;-moz-box-shadow: 1px 1px 5px #888888;-o-box-shadow: 1px 1px 5px #888888;box-shadow: 1px 1px 5px #888888;margin-bottom:15px;')
        div(style='display:inline-block;')
            label(for='Checkbox1') Free
        div(style='display:inline-block;float:right;')
            input#Checkbox12(type='checkbox')
            label(for='Checkbox12') Select
        .info-box.bg-red
            span.info-box-icon
                i.fa.fa-comments-o
            .info-box-content
                span.info-box-text Comments
                span.info-box-number 41,410
            .progress
                .progress-bar(style='width: 70%')
                    span.progress-description
                        | 70% Increase in 30 Days
                            
// ===========================================================
// Small boxes (Stat box)
.row
    .col-md-3.col-sm-6.col-xs-12(style='-webkit-box-shadow: 1px 1px 5px #888888;-moz-box-shadow: 1px 1px 5px #888888;-o-box-shadow: 1px 1px 5px #888888;box-shadow: 1px 1px 5px #888888;margin-bottom:15px;')
        div(style='display:inline-block;')
            label(for='Checkbox1') Free
        div(style='display:inline-block;float:right;')
            input#Checkbox13(type='checkbox')
            label(for='Checkbox13') Select
        .small-box.bg-aqua
            .inner
                h3 150
                    p New Orders
            .icon
                i.fa.fa-shopping-cart
            a.small-box-footer(href='#')
                | More info 
                i.fa.fa-arrow-circle-right
                        
    .col-md-3.col-sm-6.col-xs-12(style='-webkit-box-shadow: 1px 1px 5px #888888;-moz-box-shadow: 1px 1px 5px #888888;-o-box-shadow: 1px 1px 5px #888888;box-shadow: 1px 1px 5px #888888;margin-bottom:15px;')
        div(style='display:inline-block;')
            label(for='Checkbox1') Free
        div(style='display:inline-block;float:right;')
            input#Checkbox14(type='checkbox')
            label(for='Checkbox14') Select
        .small-box.bg-green
            .inner
                h3
                    | 53
                    sup(style='font-size: 20px') %
                    p Bounce Rate
            .icon
                i.ion.ion-stats-bars
            a.small-box-footer(href='#')
                | More info 
                i.fa.fa-arrow-circle-right
                       
    .col-md-3.col-sm-6.col-xs-12(style='-webkit-box-shadow: 1px 1px 5px #888888;-moz-box-shadow: 1px 1px 5px #888888;-o-box-shadow: 1px 1px 5px #888888;box-shadow: 1px 1px 5px #888888;margin-bottom:15px;')
        div(style='display:inline-block;')
            label(for='Checkbox1') Free
        div(style='display:inline-block;float:right;')
            input#Checkbox15(type='checkbox')
            label(for='Checkbox15') Select
        .small-box.bg-yellow
            .inner
                h3 44
                    p User Registrations
            .icon
                i.ion.ion-person-add
            a.small-box-footer(href='#')
                | More info 
                i.fa.fa-arrow-circle-right
                       
    .col-md-3.col-sm-6.col-xs-12(style='-webkit-box-shadow: 1px 1px 5px #888888;-moz-box-shadow: 1px 1px 5px #888888;-o-box-shadow: 1px 1px 5px #888888;box-shadow: 1px 1px 5px #888888;margin-bottom:15px;')
        div(style='display:inline-block;')
            label(for='Checkbox1') Free
        div(style='display:inline-block;float:right;')
            input#Checkbox16(type='checkbox')
            label(for='Checkbox16') Select                    
        .small-box.bg-red
            .inner
                h3 65
                    p Unique Visitors
            .icon
                i.ion.ion-pie-graph
            a.small-box-footer(href='#')
                | More info 
                       
// row