.col-md-4.col-sm-6.col-xs-12(style='-webkit-box-shadow: 1px 1px 5px #888888;-moz-box-shadow: 1px 1px 5px #888888;-o-box-shadow: 1px 1px 5px #888888;box-shadow: 1px 1px 5px #888888;margin-left:15px;margin-bottom:15px;')
    div(style='display:inline-block;')
        label(for='Checkbox1') AED 3/Month
    .nav-tabs-custom
        ul.nav.nav-tabs.pull-right.col-md-12.col-lg-12
            li.pull-left.header
                i.fa.fa-inbox
                    |  Warehouse                                
        #warehousewidget.tab-content.no-padding.col-md-12.col-lg-12
            // Morris chart - Sales
            #Warehouse-chart.chart.tab-pane.active.col-md-12.col-lg-12(style='position: relative; height: 300px;')
        button.btn.btn-primary.btn-flat.btn-xs.my-cart-btn(data-id='1', data-name='Warehouse Widget', data-summary='Warehouse', data-price='3', data-quantity='1', data-image='/images/widgetWHOccuppance.jpg') Add to Cart
                    
.col-md-4.col-sm-6.col-xs-12(style='-webkit-box-shadow: 1px 1px 5px #888888;-moz-box-shadow: 1px 1px 5px #888888;-o-box-shadow: 1px 1px 5px #888888;box-shadow: 1px 1px 5px #888888;margin-left:15px;margin-bottom:15px;')
    div(style='display:inline-block;')
        label(for='Checkbox1') AED 5/Month
    .nav-tabs-custom
        ul.nav.nav-tabs.pull-right
            li.pull-left.header
                i.fa.fa-inbox
                    |  Stock Summary
        .tab-content.no-padding
            // Morris chart - Sales
            #Stock-sumary-chart.chart.tab-pane.active(style='position: relative; height: 300px;')
        button.btn.btn-primary.btn-flat.btn-xs.my-cart-btn(data-id='2', data-name='Stock Summary Widget', data-summary='Stock Summary', data-price='5', data-quantity='1', data-image='/images/WidgetStockSummary.jpg') Add to Cart
                    
.col-md-4.col-sm-6.col-xs-12(style='-webkit-box-shadow: 1px 1px 5px #888888;-moz-box-shadow: 1px 1px 5px #888888;-o-box-shadow: 1px 1px 5px #888888;box-shadow: 1px 1px 5px #888888;margin-left:15px;margin-bottom:15px;')
    div(style='display:inline-block;')
        label(for='Checkbox1') AED 5/Month
    .nav-tabs-custom
        ul.nav.nav-tabs.pull-right
            li.pull-left.header
                i.fa.fa-inbox
                    |  Stock Movement
        .tab-content.no-padding
            // Morris chart - Sales
            #Stock-movement-chart.chart.tab-pane.active(style='position: relative; height: 300px;')
        button.btn.btn-primary.btn-flat.btn-xs.my-cart-btn(data-id='3', data-name='Stock Movement Widget', data-summary='Stock Movement', data-price='5', data-quantity='1', data-image='/images/widgetstockmovement.jpg') Add to Cart
                    
.col-md-4.col-sm-6.col-xs-12(style='-webkit-box-shadow: 1px 1px 5px #888888;-moz-box-shadow: 1px 1px 5px #888888;-o-box-shadow: 1px 1px 5px #888888;box-shadow: 1px 1px 5px #888888;margin-left:15px;margin-bottom:15px;')
    div(style='display:inline-block;')
        label(for='Checkbox1') AED 10/Month
    .nav-tabs-custom
        ul.nav.nav-tabs.pull-right
            li.pull-left.header
                i.fa.fa-inbox
                    |  Warehouse Occupance
        .tab-content.no-padding
            // Morris chart - Sales
            #Warehouse-occupancy-chart.chart.tab-pane.active(style='position: relative; height:300px;')
        button.btn.btn-primary.btn-flat.btn-xs.my-cart-btn(data-id='4', data-name='Warehouse Occupance Widget', data-summary='Warehouse Occupance', data-price='10', data-quantity='1', data-image='/images/widgetWH.jpg') Add to Cart