.col-lg-12.col-xs-12.col-md-12
    table#example.table.table-striped.table-bordered(cellspacing='0', width='100%')
        thead
            tr
                th SKU ID
                th Description
                th Std Cube
                th Std Weight
                th Std Net Weight
                th Handling Instructions
                th Notes
        tbody
            tr
                td SKU10001
                td Details
                td 150 CBM
                td 15000 kg
                td 25000 kg
                td Handling Instructions
                td Notes
            tr
                td SKU10002
                td Details
                td 350 CBM
                td 25000 kg
                td 45000 kg
                td Handling Instructions
                td Notes