#Quotationpopup.modal.fade(tabindex='-1')
    .modal-dialog.modal-lg
        .modal-content
            .modal-header
                h4.modal-title Quotation - FindingStorage
            #QuotationBody.modal-body
                .col-md-6
                    div
                        label(for='inputUsername') Job No :
                        label(for='inputUsername') E10001
                        .form-group
                            label(for='inputPassword') FS Ref No :
                            label(for='inputUsername') FS10004
                .col-md-6
                    .form-group
                        label(for='inputUsername') Date :
                        label(for='inputUsername') 13/07/2017
                        .form-group
                            label(for='inputPassword') Customer :
                            label(for='inputUsername') Customer A
                .col-md-12
                    .form-group
                        table#example.table.table-striped.table-bordered(cellspacing='0', width='100%')
                            thead
                                tr
                                    th SKU ID
                                    th Description
                                    th Qty
                                    th CBM
                                    th Weight
                            tbody
                                tr
                                    td SKU10001
                                    td Details
                                    td 100
                                    td 150 CBM
                                    td 25000 kg
                                tr
                                    td SKU10002
                                    td Details
                                    td 50
                                    td 250 CBM
                                    td 10000 kg
                                    .form-group
                                        label(for='inputPassword') Total CBM :
                                        label(for='inputUsername') 1500
                                .col-md-12
                                    .form-group
                                        label(for='inputPassword') Charges applicable :
                    .form-group
                        table#example.table.table-striped.table-bordered(cellspacing='0', width='100%')
                            thead
                                tr
                                    th Charge
                                    th Narration
                                    th Unit Price
                                    th Rate
                            tbody
                                tr
                                    td Handling
                                    td Narration
                                    td 100
                                    td 1500
                                tr
                                    td Transportation
                                    td Narration
                                    td 50
                                    td 5000
                    .form-group
                        label(for='inputPassword') Total rate agreed :
                        label(for='inputUsername') 6500
                .col-md-12
                    .form-group(style='text-align:right')
                        button#btnExprotPDF.btn.btn-primary.btn-flat(type='submit') Print
                        button#btnSendMail.btn.btn-primary.btn-flat(type='submit') Send Email
            .modal-footer